{
  "semi": true,
  "arrowParens": "avoid",
  "printWidth": 90,
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "bracketSpacing": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all"
}
